.category-button {
    border-radius: 15px !important;
    background: linear-gradient(0.25turn, rgba(56, 23, 15, 1), rgba(74, 42, 18, .8));
    color: white !important;
}

.item-img {
    margin-left:10px;
    width: 50%;
}

.itemName {
    margin-right:15px;
}

.typeWeaponIcon {
    width: 2em;
}