.categories {
    overflow-x: hidden;
    overflow-y: hidden;
}

.category-button {
    border-radius: 15px !important;
    background: linear-gradient(0.25turn, rgba(56, 23, 15, 1), rgba(74, 42, 18, .8));
    color: white !important;
}

.item-img {
    width: 50%;
}